/platforms
/plugins
/server
/res
/www/js/services/json
/www/js/services/localstorage
/www/js/services/websql
/www/assets/css/images
/www/assets/pics
/www/assets/res
/www/lib/ready.back.js
/www/lib/settings.js
