img.list-image-recipe {
  width: 100%;
}

span.fav-star {
  margin-left: 10px;
}

p.title {
  color: #000;
  font-family: "oswald";
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.recipe-row span.fav-star{
  float: right;
}

img#fav-star-img {
    height: 25px;
    position: relative;
}

.recipe-row img#fav-star-img {
    top: 3px;
}

.recipe.detail img#fav-star-img {
    top: 2px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

ul.table-view.recpie-table {
  margin: 0;
  padding: 0;
}

ul.recpie-table li {
  padding: 15px 15px 5px 10px;
}

.page-detail p:not(.image){
  padding-left: 10px;
}

ul.recpie-table li {
  background-color: #FFF;
  font-family: "oswald";
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.splash {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.splash-text {
  color: #000;
  text-align: center;
  top: 50%;
  position: fixed;
  left: 50%;
  font-family: "oswald";
  font-size: 55px;
  line-height: 1;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
