img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

ul.table-view.recpie-table {
  margin: 0;
  padding: 0;
}

ul.recpie-table li {
  padding: 15px 15px 5px 10px;
}

.page-detail p:not(.image){
  padding-left: 10px;
}

ul.recpie-table li:nth-child(odd) {
  background-color: rgba(0, 164, 152, 0.15);
}

ul.recpie-table li:nth-child(even) {
  background-color: white;
}

.center {
  text-align: center;
}

.splash {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.splash-text {
  color: #000;
  text-align: center;
  top: 50%;
  position: fixed;
  left: 50%;
  font-family: "oswald";
  font-size: 55px;
  line-height: 1;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
