@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body
{
  padding: 0;
  margin: 0;
}
body
{
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  position: relative;
  -webkit-text-size-adjust: none;
}
body *
{
  text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
  line-height: 1;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
h1, h2, h3
{
  color: #000;
  font-size: 18px;
}

h1.title {
  text-align: center;
  font-size: 27px;
  font-family: "oswald";
  font-weight: normal;
}
h4, h5, h6
{
  font-size: 16px;
}
p
{
  margin: 0 0 10px 0;
}
.detail a, .detail a:link, .detail a:active, .detail a:visited, .detail a:hover {
  color: #00A498;
}
a, a:link, a:active, a:visited, a:hover
{
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.header {
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid #757575;
  float: left;
}

.header div.text {
    float: left;
    width: 100%;
    position: relative;
}

span.settings {
  float: right;
  position: absolute;
  right: 10px;
}

.content,
.footer
{
  text-align: left;
}
.header,
.footer
{
  background: #e5e5e5;
  font-size: 27px;
  color: #000;
  line-height: 40px;
  font-family: "oswald";
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}

.footer.fixed
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.aquamarina {
    color: #00A498;
}

img.list-image-recipe,
.about img {
  width: 100%;
  height: auto;
}

span.fav-star {
  margin-left: 10px;
}

p.title {
  color: #000;
  font-family: "oswald";
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

p.info {
  color: #757575;
  text-transform: none;
  text-align: center;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.recipe-row span.fav-star{
  float: right;
}

img#fav-star-img {
    height: 25px;
    position: relative;
}

.recipe.detail img#fav-star-img {
    top: 2px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

ul.table-view.recipe-table {
  margin: 0;
  padding: 0;
}

ul.recipe-table.large li {
  padding: 0px 10px;
  margin-bottom: 50px;
}

ul.recipe-table.mini li{
  padding: 0px 0px 5px 10px;
}

.page-detail p:not(.image){
  padding-left: 10px;
}

ul.recipe-table li {
  background-color: #FFF;
  font-family: "oswald";
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.splash,
.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99999;
}

.loading {
  display: none;
  opacity: 0.7;
}

.splash-text,
.spinner {
  color: #000;
  text-align: center;
  top: 50%;
  position: fixed;
  left: 50%;
  font-family: "oswald";
  font-size: 55px;
  line-height: 1;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 100%;
}

.splash-error {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-transform: none;
  color: #000;
  display: none;
  line-height: 20px;
}

#page {
  width: 100%;
  padding-bottom: 60px;
  float: left;
}

#form-div {
  float: left;
  width: 100%;
  margin-top:30px;
  padding-bottom: 50px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#00A498;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0;
  border: 3px solid #00A498;
  outline: none;
}

.focused{
  color:#00A498;
  border:#00A498 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(../../img/user.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(../../img/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(../../img/pencil.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#search{
  background-image: url(../../img/search.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.send-contact-btn{
  font-family: 'oswald';
  float:left;
  width: 100%;
  cursor:pointer;
  background-color: #00A498;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  margin-top:-4px;
  font-weight:700;
  border: none;
  letter-spacing: 2px;
}

.submit.input {
  padding-left: 10px;
  padding-right: 10px;
}

div.social-sharing {
  margin-left: 10px;
}

div.social-sharing span.fav-star {
    float: right;
    margin-right: 10px;
}

div.social-sharing p{
  font-family: "oswald";
}

.social-sharing .share-link,
.social-sharing .share-link span {
  float: left;
  margin-left: 10px;
}

.social-sharing .share-link.facebook {
  margin-left: 0px;
}

.social-sharing .share-link img {
  width: 32px;
  height: 32px;
}

p.input {
  margin: 0px 10px 0px 10px;
}

.page-search .list-image-recipe,
.favs .list-image-recipe {
  height: 50px;
  width: auto;
}

a.page-search-link,
a.page-favs-link {
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
  width: 70%;
}

.page-search .recipe-row span.fav-star,
.favs .recipe-row span.fav-star {
  margin-right: 10px;
  margin-top: 2px;
}

.large-title-link {
  float: left;
  width: 89%;
}

.empty-favs {
  text-transform: uppercase;
  font-size: 20px;
}

.page-settings div,
.page-settings span {
  float: left;
}

.page-settings div {
  width: 95%;
  padding-left: 12px;
}

.settings-list .setting {
  clear: both;
  margin-top: 5px;
}

.setting-text {
 color: #757575;
 margin: 9px 0px 0px 3px;
 font-weight: bold;
 font-size: 16px;
}

.setting-image {
  padding-top: 10px;
}
.setting-image img {
    height: 15px;
}

span.setting-caption {
  clear: both;
  width: 80%;
  padding: 0px 0px 5px 30px;
  font-size: 13px;
  color: #757575;
  line-height: 13px;
}

.setting-title {
  font-family: "oswald";
  color: #000;
  border-bottom: 3px solid #e5e5e5;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 20px;
  padding-bottom: 5px;
}
