var Settings = {
  pushificator_endpoint: "modify this",
  pushificator_token: "modify this",
  send_email_endpoint: "modify this",
  send_email_password: "modify this"
  fav_star_base64: "modify this",
  unfav_star_base64: "modify this"
};
